<div class="container">
  <div class="row">

    <div class="card col-sm">
      <div class="card-Header">
        {{ pageTitle }}
      </div>
      <div class="card-body"
      *ngIf="cats" >

        <div class="list-group">
          <button class="list-group-item list-group-item-action rounded-0"
          *ngFor="let cat of cats"
          [ngClass]="{'active': cat?.id === selectedCat?.id}"
          (click)="catSelected(cat)">{{ cat.catName }}
          </button>
        </div>
      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col-md-4 text-right">
            <button class="btn btn-primary"
                    (click)="newCat()">
              Add
            </button>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="errorMessage"
         class="alert alert-danger">
      Error: {{ errorMessage }}
    </div>
  </div>

</div>

